// global.scss 
/*/

Display : 7.5rem    : 120px : Used for hero name and extra large text
h1      : 4rem      : 64px  : Used for section headings and decorative watermarks/background text
h2      : 2.5rem    : 48px  : Project titles, feature text
h3      : 2rem      : 32px  : Job titles
h4      : 1.5rem    : 24px  : —SET THIS
body-lg : 1.25rem   : 20px  : Descriptions, certificate headers
body    : 1rem      : 16px  : Dates, small body text, company names
label   : 0.6875rem : 10px  : Tags, nav links, years, index numbers

/*/
// Define Font Families
$font-heading: "Aboreto", cursive;
$font-body: "Times New Roman", Times, serif;

body {
	line-height: 1.5;
	font-family: $font-body;
	color: var(--primary-color);
	background-color: var(--bg-color);
	line-height: 1.5; 
	-webkit-font-smoothing: antialiased
}

// Base text elements
body, p, a, span, label {
  font-family: $font-body;
}

// Heading elements
h1, h2, h3, h4 {
  font-family: $font-heading;
  font-weight: normal; 
}

// Heading Sizes
h1 {
  font-size: var(--font-size-23);
}

h2 {
  font-size: var(--font-size-20);
}

h3 {
  font-size: var(--font-size-19);
}

h4 {
  font-size: var(--font-size-19);
}
// Body Sizes
p {
	font-size: var(--font-size-16);
}

p.body-lg, .body-lg {
  font-size: var(--font-size-19);
}

button p.body-lg {
	font-family: $font-heading;
}

// Label Size
.label {
  font-size: var(--font-size-15);
}