// global.scss 
// Define Font Families
$font-heading: "Aboreto", cursive;
$font-body: "Times New Roman", Times, serif;

// Font scale usage map
// h1: --fs-64 | h2: --fs-48 | h3: --fs-32 | h4: --fs-24
// body: --fs-16 | body-lg: --fs-24 | label: --fs-08

body {
	line-height: 1.5;
	font-family: $font-body;
	color: var(--primary-color);
	background-color: var(--bg-color);
	line-height: 1.5; 
	-webkit-font-smoothing: antialiased
}

// Base text elements
body, p, a, span, label {
  font-family: $font-body;
}

// Heading elements
h1, h2, h3, h4 {
  font-family: $font-heading;
  font-weight: normal; 
}

// Heading Sizes
h1 {
  font-size: var(--fs-64);
}

h2 {
  font-size: var(--fs-48);
}

h3 {
  font-size: var(--fs-32);
}

h4 {
  font-size: var(--fs-24);
}
// Body Sizes
p {
	font-size: var(--fs-16);
}

p.body-lg, .body-lg {
  font-size: var(--fs-24);
}

button p.body-lg {
	font-family: $font-heading;
}

// Label Size
.label {
  font-size: var(--fs-08);
}