html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

// global.scss

// Define Font Families
$font-heading: "Aboreto", cursive;
$font-body: "Times New Roman", Times, serif;

body {
	line-height: 1.5;
	font-family: $font-body;
	color: var(--primary-color);
	background-color: var(--bg-color);
	line-height: 1.5; 
	-webkit-font-smoothing: antialiased
}

// Base text elements
body, p, a, span, label {
  font-family: $font-body;
}

// Heading elements
h1, h2, h3, h4 {
  font-family: $font-heading;
  font-weight: normal; 
}

// Note: when cross-referencing Figma typography sizes, please note the last parameter in clamp is what you need to match
// Display Token
.display {
  font-size: clamp(4.5rem, 3.409rem + 5.45vw, 7.5rem);
}

// Heading Sizes
h1 {
  font-size: clamp(2.5rem, 1.955rem + 2.73vw, 4rem);
}

h2 {
  font-size: clamp(1.75rem, 1.477rem + 1.36vw, 2.5rem);
}

h3 {
  font-size: clamp(1.25rem, 0.977rem + 1.36vw, 2rem);
}

// Body Sizes
p {
	font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
}

p.body-lg, .body-lg {
  font-size: clamp(1.125rem, 1.08rem + 0.23vw, 1.25rem);
}

button p.body-lg {
	font-family: $font-heading;
}

// Label Size
.label {
  font-size: clamp(0.625rem, 0.602rem + 0.11vw, 0.6875rem);
}

:root, html.light {
  --primary-color: #432d2d;
  --secondary-color: #432d2d;
  --bg-color: #f9f9f9; // special white
}

html.dark {
  --primary-color: #E6E6E6;
  --secondary-color: #432d2d;
  --bg-color: #432d2d;
}