// #region SCSS variables
$color--black: #0E0E0E;
$color--white: #E6E6E6;

$text--heading-1: 4rem;
$text--heading-2: 2.75rem;
$text--heading-3: 2.2rem;
$text--heading-4: 1.2rem;

$text--paragraph-1: 1.4rem;
$text--paragraph-2: 1rem;
$text--paragraph-3: 0.8854rem;
$text--monospace: 1rem;
// #endregion